* {
  padding: 0;
  margin: 0;
  border: none;
}

:root {
  --background-color: #CCFFFF;
  --absolute-background-color: #006666;
  --main-color: #66CCCC;
  --second-color: #3399998b;
  --input-background-color: #f2f2f2;
}

body {
    background-color: var(--background-color);
  color: #fff;
  position: relative;
  box-sizing: border-box;
}

.wrapper {
  position: relative;

  width: 1280px;

  padding: 10px 0;
  margin: 0 auto;

  display: grid;

  grid-template-areas:
  "header header"
  "content aside";
  grid-template-rows: 60px 5fr;
  grid-template-columns: 7fr 2fr;
  grid-gap: 10px;
}